<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/bootstrap-theme.min.css">
    <script src="../../assets/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../assets/css/smarty/essentials.css">
    <link rel="stylesheet" href="../../assets/css/smarty/layout.css">
    <link rel="stylesheet" href="../../assets/css/custom_panel.css">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <a class="navbar-brand" href="#">Y U P H O R I A</a>
        <a href="" class="navbar-brand navbar-right"><span class="glyphicon glyphicon-earphone"></span>&nbsp
            +91-9557971225&nbsp&nbsp&nbsp</a>
    </nav>
</div>
<div class="container"><br><br><br><br><br>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="owl-carousel buttons-autohide controlls-over"
             data-plugin-options='{"singleItem": true, "autoPlay": true, "navigation": false, "pagination": false, "transitionStyle":"backSlide"}'>
            <div>
                <h1>30000+ Registered Doctors</h1>
            </div>
            <div>
                <h1>Regular Online Checkups</h1>
            </div>
            <div>
                <h1>Cure Before It happens</h1>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<br>
<!--End of Center Menu -->
<br>

<div class="container">
    <div class="row center">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-lg-offset-1">
            <div class="thumbnail">
                <a href="../patient/dashboard.html">
                <img src="../../assets/images/main/128/img-00-02.png" alt="" height="128" width="128">
                <div class="caption center-block text-center">
                    <br><h4>Patient</h4>
                </div>
                </a>
            </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <div class="thumbnail">
                <a href="../doctor/dashboard.html">
                <img src="../../assets/images/main/128/img-00-03.png" alt="" height="128" width="128">
                <div class="caption center-block text-center">
                    <br><h4>Doctor</h4>
                </div>
                </a>   
            </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <div class="thumbnail">
                <img src="../../assets/images/main/128/img-00-06.png" alt="" height="35" width="56">

                <div class="caption center-block text-center">
                    <br><h4>Diagnosis</h4>
                </div>
            </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <div class="thumbnail">
                <img src="../../assets/images/main/128/img-00-05.png" alt="" height="114" width="114">
                <div class="caption center-block text-center">
                    <br><h4>Tests</h4>
                </div>
            </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <div class="thumbnail">
                <img src="../../assets/images/main/128/img-00-01.png" alt="" height="135" width="145">
                <div class="caption center-block text-center">
                    <br><h4>Business</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Center Menu -->
<br>
<!--Take a tour Button -->
<div class="container">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 center-block">
        <button class="btn btn-primary center-block">Take aa Tour</button>
    </div>
</div>
<!--Take a tour Button -->

<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <a class="navbar-brand center-block text-center" href="#"><span class="glyphicon glyphicon-copyright-mark"></span>
        Tyristord</a>
</nav>

<script type="text/javascript">var plugin_path = '../../assets/plugins/';</script>
<script type="text/javascript" src="../../assets/plugins/jquery/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="../../assets/js/scripts.js"></script>

</body>
</html>