<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../../assets/css/custom.css">
    <script src="../../assets/js/bootstrap.min.js"></script>
</head>
<div>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <a class="navbar-brand" href="#">Y U P H O R I A</a>
    <ul class="nav navbar-nav">
        <li class="active">
            <a href="index.html">Main</a>
        </li>
    </ul>
    <a href="#" class="navbar-brand navbar-right">Call: +91-9557971225&nbsp&nbsp&nbsp</a>
</nav>
<br><br><br>
<!--side menu bar-->
<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Akash Ranjan</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><img src="../../assets/images/hms-02.png" alt="trest" width="170" height="200"></td>
        </tr>
        <tr>
            <td>Hospitals</td>
        </tr>
        <tr>
            <td>Medicines</td>
        </tr>
        <tr>
            <td>Reports</td>
        </tr>
        <tr>
            <td>Payment</td>
        </tr>
        <tr>
            <td>History</td>
        </tr>
        <tr>
            <td>Calender</td>
        </tr>
        </tbody>
    </table>
</div>
<!-- end side menu bar-->
<!--Main Contet -->
<br><br>
<!--Status, Book, Find Doctor -->
<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">

    <div class="row">
    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-md-offset-1 col-lg-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Search By Doctor</h3>
            </div>
            <div class="panel-body">
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 ">
                    <div class="inner-addon right-addon">
                        <i class="glyphicon glyphicon-user"></i>
                        <input type="text" class="form-control" />
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-md-offset-1 col-lg-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Search by Disease</h3>
            </div>
            <div class="panel-body">
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 ">
                    <div class="inner-addon right-addon">
                        <i class="glyphicon glyphicon-user"></i>
                        <input type="text" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="row">
        <div class="col-md-offset-10" style="padding: 5%;"></div>
    </div>

<div class="row">
    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-md-offset-1 col-lg-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Search Diagnostics</h3>
            </div>
            <div class="panel-body">
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <div class="inner-addon right-addon">
                        <i class="glyphicon glyphicon-user"></i>
                        <input type="text" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-md-offset-1 col-lg-offset-1">
        <p style="padding-top: 10%; padding-left: 30%">
            <a href="#" class="btn btn-lg btn-default">Advanced Search <span class="glyphicon glyphicon-search"></span></a>
        </p>
    </div>
</div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <a class="navbar-brand center-block text-center" href="#"><span class="glyphicon glyphicon-copyright-mark"></span> Tyristord</a>
</nav>
<!--end bottom navbar-->
</body>
</html>