<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'assets/css/hms/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/hms/bootstrap-theme.min.css' %}">
    <script src="{% static 'assets/js/hms/bootstrap.min.js' %}"></script>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    	<a class="navbar-brand" href="#">Y U P H O R I A</a>
    	<ul class="nav navbar-nav">
    		<li class="active">
    			<a href="index.html">Main</a>
    		</li>
    		<li>
    			<a href="#">Online</a>
    		</li>
            <li>
                <a href="#">Offline</a>
            </li>
    	</ul>
        <a href="#" class="navbar-brand navbar-right">Call: +91-9557971225&nbsp&nbsp&nbsp</a>
    </nav>
    <br><br><br>
    <!--side menu bar-->
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    	<table class="table table-hover">
    		<thead>
    			<tr>
    				<th>Dr. Akash Ranjan</th>
    			</tr>
    		</thead>
    		<tbody>
                <tr>
                    <td><img src="{% static 'assets/images/hms/hms-02.png' %}" alt="trest" width="170" height="200"></td>
                </tr>
                <tr>
    				<td><a href="#" class="btn btn-default">Payment</a></td>
    			</tr>
                <tr>
                    <td>Payment</td>
                </tr>
                <tr>
                    <td>Payment</td>
                </tr>
                <tr>
                    <td>Payment</td>
                </tr>
                <tr>
                    <td>Payment</td>
                </tr>
                <tr>
                    <td>Payment</td>
                </tr>
                <tr>
                    <td>Payment</td>
                </tr>
    		</tbody>
    	</table>
    </div>
    <!-- end side menu bar-->
    <!--Main Contet -->
    
    <!-- Top custom nav bar-->
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <div class="navbar">
        	<a class="navbar-brand" href="#">Upcoming Patients:</a>
        	<ul class="nav navbar-nav">
        		<li class="active">
        			<a href="#">Patient1 &nbsp&nbsp&nbsp<&nbsp&nbsp&nbsp Patient2&nbsp&nbsp&nbsp<&nbsp&nbsp&nbsp Patient2&nbsp&nbsp&nbsp<&nbsp&nbsp&nbsp Patient2&nbsp&nbsp&nbsp<&nbsp&nbsp&nbsp Patient2&nbsp&nbsp&nbsp<&nbsp&nbsp&nbsp Patient2</a>
        		</li>
        	</ul>
            <ul class="nav navbar-nav navbar-right">
                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        Available <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>Unavailable</li>
                    </ul>
                </li>
                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        Online Chat <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>Offline</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!--End Top custom nav bar -->

    <!--Prescription or Refer area -->
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">&nbsp
                <p class="pull-left"><a href="#">PRESCRIPTION</a></p>
                <p class="pull-right"><a href="#">REFER</a></p>
            </div>
            <!-- Table -->
            <table class="table">
                <tbody>
                    <tr>
                        <td colspan="3">
                            <p class="pull-left">Patient name</p>
                            <p class="pull-right">Disease</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            medicine name to be auto completed. <br><br><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus amet culpa, dolorum enim esse fugit iste labore, molestias quaerat sed unde ut veniam! Ea eligendi ex iusto, laudantium rem voluptatum! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa quia vitae voluptates? Cupiditate fugiat, nam! Deserunt error impedit nemo neque nesciunt quis rem, saepe. Ad earum et molestias numquam odit? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur corporis culpa deleniti deserunt dicta dolore doloribus, ea, iure magni molestias mollitia odit optio placeat possimus quaerat quam, repellendus reprehenderit suscipit! Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus adipisci cumque dolor doloribus eligendi harum illum magnam, nesciunt non perferendis possimus quisquam quod ratione repellat sapiente sequi sint vero
                        </td>
                        <td>
                            Dosage
                        </td>
                        <td>
                            days
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <p class="text-center">
                                signature
                            </p>
                            <p class="pull-right">print</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--End Prescription or Refer area -->


    <!-- -->

    <!-- bottom navbar-->
    <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
        <a class="navbar-brand center-block text-center" href="#"><span class="glyphicon glyphicon-copyright-mark"></span> Tyristord</a>
    </nav>
    <!--end bottom navbar-->
</body>
</html>